@use "../../scss/variables/others" as *;
@use "../../scss/helpers/mixins" as *;

.dashboard {
  max-width: 100vw;
  .top-bar {
    height: $nav-height;
  }

  .side-bar {
    width: side-bar-width();
    transition: 0.5s;
    text-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    .nav-link {
      transition: padding 0.5s;
    }
    span.link-text {
      transition: width, visibility 0.5s;
    }
    @include medias("mobile") {
      position: fixed;
      left: -100vw;
      top: $nav-height;
      height: calc(100% - $nav-height);
      z-index: 1000;
    }
  }

  @include medias("more mobile") {
    &.shrink {
      .side-bar {
        padding-inline: 0rem !important;
        width: side-bar-width(true);
        span.link-text {
          visibility: hidden;
          width: 0;
        }
        .nav-link {
          padding: 0.5rem 0.7rem;
        }
      }
    }
  }

  @include medias("mobile") {
    &.shrink {
      .side-bar {
        left: 0;
      }
    }
  }
}
